---
// WindowsAndDelectorsButtons.astro
---

<div
    class="flex flex-col md:flex-row md:items-center justify-between gap-4 mb-3 border-b border-[#a6a6a6] pb-4"
>
    <!-- BOTONES DE PESTANAS -->
    <div class="flex gap-2" role="tablist">
        <!-- Controles -->
        <button
            class="tab-button active bg-[#d9d9d9] text-black font-semibold px-4 py-2 transition-colors rounded-lg"
            data-tab="controles"
        >
            Controles
        </button>
        <!-- Pestanas -->
        <button
            class="tab-button bg-[#efefef] hover:bg-[#a6a6a6] text-black font-semibold px-4 py-2 transition-colors rounded-lg"
            data-tab="graficas"
            role="tab"
            aria-selected="false"
            tabindex="-1"
        >
            Gráficas
        </button>
    </div>

    <!-- SELECTORES -->
    <div class="flex gap-2">
        <!-- Selector 1 -->
        <select
            class="select-style px-3 py-2 text-sm text-black bg-white border border-[#a6a6a6] hover:bg-[#a6a6a6] hover:text-black transition-colors rounded-lg"
            data-select="sensores"
        >
            <option>Sensores 1</option>
            <option>Sensores 2</option>
        </select>

        <!-- Selector 2 -->
        <select
            class="select-style px-3 py-2 text-sm text-black bg-white border border-[#a6a6a6] hover:bg-[#a6a6a6] hover:text-black transition-colors rounded-lg"
            data-select="cabina"
        >
            <option>Cabina 1</option>
            <option>Cabina 2</option>
        </select>
    </div>
</div>
