---
//* IMAGENES
import logoAnahuac from "../../public/logos/logo-anahuac.svg";
import logoGITSe from "../../public/logos/logo-gitse.svg";
---

<div class="w-full flex justify-between items-center px-8 py-4">
    <a href="https://cancun.anahuac.mx/sitio/" target="_blank" rel="noopener noreferrer">
        <img src={logoAnahuac.src} alt="Logo Anahuac Cancun" class="h-13" />
    </a>
    <img src={logoGITSe.src} alt="Logo GITSe" class="h-13" />
</div>